/* nav {
    margin: 0;
    background-color: black;
}

nav ul {
    display: flex;
}
nav ul li a {
    text-decoration: none;
    margin: 1rem;
    padding: 2rem;
}
nav ul button {
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.23);
    margin-left: 0;
    padding-left: 0;
} */

img {
    width: 20%;
}
